In [2]:
print("Muhammad Habib Hassan")
print("Dawood University")
print("Electronic Engineering")
print("Aritificial Intellgence")

Muhammad Habib Hassan
Dawood University
Electronic Engineering
Aritificial Intellgence

In [7]:
a = "Pakistan"
print(a)
print(type(a))

Pakistan
<class 'str'>

In [9]:
a = "PakistaN ZiNda Bad"
print(a)

PakistaN ZiNda Bad

In [12]:
a.capitalize()

'Pakistan zinda bad'

In [14]:
a.title()

'Pakistan Zinda Bad'

In [16]:
print(a)

PakistaN ZiNda Bad

In [18]:
a.lower()

'pakistan zinda bad'

In [20]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [22]:
print?

In [24]:
a.center??

In [28]:
abc = """
Saylani Welfare Trust
City: Karachi
Country: Pakistan
"""
print(abc)

Saylani Welfare Trust
City: Karachi
Country: Pakistan

In [31]:
abc = '''
Saylani Welfare Trust
City: Karachi
Country: Pakistan
'''
print(abc)

Saylani Welfare Trust
City: Karachi
Country: Pakistan

In [33]:
abc = """
*******PIAIC*********
Saylani Welfare Trust
Name: Muhammad Habib
City: Karachi
Country: Pakistan
"""
print(abc)

*******PIAIC*********
Saylani Welfare Trust
Name: Muhammad Habib
City: Karachi
Country: Pakistan

In [43]:
name = "Muhammad Habib"
father_name = "Habib Hassan"
roll_no = 105

abc = """
*********PIAIC**********
Saylani Welfare Trust
Name: {}
Fathers Name: {}
Roll No: {}
"""
print(abc.format(name, father_name, roll_no))

*********PIAIC**********
Saylani Welfare Trust
Name: Muhammad Habib
Fathers Name: Habib Hassan
Roll No: 105

In [46]:
a = print("pakistan")
print(a)

pakistan
None

In [50]:
a = input("Enter Name")
a

Enter NameKhamoor

'Khamoor'

In [54]:
name = input("Enter your Name: ")
father_name = input("Enter your Father's Name: ")
roll_no = input("Enter your Roll No: ")
abc = """
*********PIAIC**********
Saylani Welfare Trust
Name: {}
Father's Name: {}
Roll No: {}
"""
print(abc.format(name, father_name, roll_no))

Enter your Name: Muhammad Habib Hassan
Enter your Father's Name: Habib Hassan Khamoor
Enter your Roll No: 05

*********PIAIC**********
Saylani Welfare Trust
Name: Muhammad Habib Hassan
Father's Name: Habib Hassan Khamoor
Roll No: 05

In [57]:
a = "pakistan"
b = "zinda bad"
a + b #concatenation

'pakistanzinda bad'

In [60]:
a = 5
b = 5
a + b

10

In [62]:
5+5

10

In [63]:
5 + 2

7

In [64]:
4 - 2

2

In [66]:
3 * 5

15

In [67]:
12 / 3

4.0

In [68]:
15 % 4

3

In [69]:
15 / 4

3.75

In [70]:
15 // 4

3

In [71]:
15 // 4.0

3.0

In [72]:
2 ** 3

8

In [74]:
2 + 6 * 8 / 3 + (2 * 3)

24.0

In [76]:
a = "Pakistan"
a

'Pakistan'

In [77]:
a = "china"
a

'china'

In [78]:
a * 2

'chinachina'

In [79]:
a = "abc"
a

'abc'

In [91]:
a += " xyz"
a

'abcxyzxyzabcxyzxyzabcxyzxyzabcxyzxyz xyz xyz xyz xyz xyz xyz xyz xyz'

In [83]:
a *= 2
a

'abcxyzxyzabcxyzxyzabcxyzxyzabcxyzxyz'

In [92]:
a %= 2

TypeError: not all arguments converted during string formatting

In [93]:
a = 15
a %= 4
a

3

In [96]:
a **= 3
a

19683

In [98]:
a = "abc"
a **= 2
a

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [99]:
5 == 5

True

In [100]:
5 == 3

False

In [101]:
5 < 3

False

In [102]:
5 > 3

True

In [103]:
5 > 5

False

In [104]:
5 >= 5

True

In [105]:
5 != 5

False

In [106]:
6 < 6

False

In [107]:
6 <= 6

True

In [109]:
 5 == 5 and 6 <=7 and 10 >= 9
#True   and True  and True
#True

True

In [111]:
5 == 5 and 9 <= 7 and 10 >= 9
# True and  False and True
# False

False

In [112]:
5 == 5 or 6 <= 7 or 10 >= 9
# True or True   or True
# True

True

In [113]:
5 == 7 or 6 <= 7 or 10 >= 11
# False or True or False
#True

True

In [115]:
True | False

True

In [117]:
True & True & False

False

In [118]:
a = 'abc'
b = 'xyz'
c = '27'
a + b + c

'abcxyz27'

In [119]:
a = 'abc'
b = ' xyz'
c = ' 27'
print(a,b,c)

abc  xyz  27

In [120]:
a = 'abc'
b = 'xyz'
c = 27
a + b + c

TypeError: can only concatenate str (not "int") to str

In [121]:
a = 'abc'
b = 'xyz'
c = 27
print(a,b,c)

abc xyz 27

In [123]:
a = 'abc'
b = 'xyz'
c = 27
a + b + str(c)

'abcxyz27'

In [124]:
a = '1'
b = '1'
a + b

'11'

In [125]:
a = input()
b = input()
a + b

1
1

'11'

In [126]:
int(a) + int(b)

2

In [128]:
float(a) + float(b)

2.0

In [129]:
a + b

'11'

In [131]:
import this

In [133]:
name = input("Enter your Name: ")
if name == 'khamoor':
    print("Student")
else:
    print("Teacher")

Enter your Name: Khamoor
Teacher

In [134]:
name = input("Enter your Name: ")
if name.lower() == 'khamoor':
    print("Student")
else:
    print("Teacher")

Enter your Name: Khamoor
Student

In [135]:
per = 78

if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per >= 50:
    print("C")
elif per >= 60:
    print("B")
elif per >= 70:
    print("A")
elif per >= 80:
    print("A+")

Fail

In [136]:
per = 78

if per >= 0 and per < 33:
    print("Fail")
elif per >= 33 and per < 40:
    print("E")
elif per >= 40 and per < 50:
    print("D")
elif per >= 50 and per < 60:
    print("C")
elif per >= 60 and per < 70:
    print("B")
elif per >= 70 and per < 80:
    print("A")
elif per >= 80 and per < 100:
    print("A+")
else:
    print("Not Valid")

A

In [138]:
per = 78

if per >= 80:
    print("A+")
elif per >= 70:
    print("A")
else:
    print("Fail")

A

In [139]:
names = ['Muhammad','Habib','Hassan']
names

['Muhammad', 'Habib', 'Hassan']

In [140]:
names[2]

'Hassan'

In [142]:
names

['Muhammad', 'Habib', 'Hassan']

In [143]:
names[2] = 'Khamoor'
names

['Muhammad', 'Habib', 'Khamoor']

In [145]:
names = []
while True:
    a = input("Names:")
    if a != 'x':
        names.append(a)
    else:
        break
        
names

Names:Muhammad
Names:Habib
Names:Hassan
Names:Khamoor
Names:x

['Muhammad', 'Habib', 'Hassan', 'Khamoor']

In [146]:
exit()